@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
html, body{
	width: 99%;
	height: 95%;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
p.logout{
	text-align: right;
	max-height: 0%;
	margin:0;
	padding: 0;
}
a,a:link,a:hover,a:focus,a:active,a:selected,a:visited {
	color:#000000;
}
ul{
	line-height: 200%
}
table.prettytable td{
	background-color: #00A591;
	border: 0.01em solid black;
	font-size: 1.1em;
	padding: 0.5em;
}
table.prettytable{
	width: 100%;
	max-width: 800px;
}
label{
	margin-right:30px;
}
input{
	border: 1px solid black;
	border-radius: 10px;
	padding: 3px;
}